@charset "UTF-8";

/*
  Twitter Profile Style.
*/

.wpt-tw-profile-wrap{
  display:block !important;
  line-height:1 !important;
  font-size:0 !important;
}

.wpt-tp-cover{
  background-size:100% 100% !important;
  -moz-background-size:100% 100% !important;
  -webkit-background-size:100% 100% !important;
  -o-background-size:100% 100% !important;
  padding:10px;
  box-shadow:0px 0px 100px 40px rgba(0,0,0,0.5) inset !important;
  -webkit-box-shadow:0px 0px 100px 40px rgba(0,0,0,0.5) inset !important;
  -moz-box-shadow:0px 0px 100px 40px rgba(0,0,0,0.5) inset !important;
  border-radius:5px 5px 0 0 !important;
  -webkit-border-radius:5px 5px 0 0 !important;
  -moz-border-radius:5px 5px 0 0 !important;
}

.wpt-tp-avatar-wrap{
  font-size:0 !important;
  line-height:1 !important;
  display:block;
  text-align:center;
}

.wpt-tp-avatar-wrap a, .wpt-tp-avatar-wrap a:hover, .wpt-tp-avatar-wrap a:active{
  color:transparent !important;
  text-shadow:none !important;
  text-decoration:none !important;
  font-weight:normal !important;
  border:none !important;
  display:inline-block !important;
}

.wpt-tw-profile-wrap img{
  margin:0 !important;
  float:none !important;
  border-box:content-box !important;
  -webkit-border-box:content-box !important;
  -moz-border-box:content-box !important;
  padding:0 !important;
  border-radius:0 !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  opacity:1 !important;
}

.wpt-tw-profile-wrap img:hover{
  opacity:1 !important;
}

.wpt-tp-cover img{
  width:64px !important;
  height:64px !important;
  display:block !important;
  padding:4px !important;
  background-color:#fff !important;
  border-radius:5px !important;
  -webkit-border-radius:5px !important;
  -moz-border-radius:5px !important;
  box-shadow:0px 1px 1px 0 rgba(0,0,0,0.3) !important;
  -webkit-box-shadow:0px 1px 1px 0 rgba(0,0,0,0.3) !important;
  -moz-box-shadow:0px 1px 1px 0 rgba(0,0,0,0.3) !important;
  margin:0 auto !important;
}

h4.wpt-tp-name{
  font-size:14px !important;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.7);
  margin:10px 0 0 0 !important;
  font-weight:normal !important;
  text-align:center !important;
  line-height:1 !important;
  text-decoration:none !important;
  padding:0 !important;
  letter-spacing:normal !important;
  text-transform:none !important;
}

h4.wpt-tp-name a{
  position:relative;
}

.wpt-tp-verified{
  direction: ltr !important;
}

.wpt-tp-verified-account{
  line-height:1 !important;
  font-size:0 !important;
  padding-left:5px;
  text-shadow:none !important;
}

.wpt-tp-verified-account:after{
  content:"";
  background:url(../images/verified_icon.png) no-repeat;
  width:16px;
  height:16px;
  background-size:16px 16px;
  -moz-background-size:16px 16px;
  -webkit-background-size:16px 16px;
  -o-background-size:16px 16px;
  position:absolute;
  top:1px;
}

h5.wpt-tp-screen-name{
  font-size:12px !important;
  color:#fff !important;
  margin:7px 0 0 0 !important;
  font-weight:normal !important;
  text-align:center !important;
  line-height:1 !important;
  text-shadow:none !important;
  text-decoration:none !important;
  padding:0 !important;
  letter-spacing:normal !important;
  text-transform:none !important;
  direction: ltr !important;
}

.wpt-tp-cover h4:before, .wpt-tp-cover h4:after, .wpt-tp-cover h5:before, .wpt-tp-cover h5:after{
  display:none !important;
}

.wpt-tp-cover a, .wpt-tp-cover a:hover, .wpt-tp-cover a:active{
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.7) !important;
  text-decoration:none !important;
  font-weight:normal !important;
  border:none !important;
}

.wpt-tp-counts{
  border:1px solid #e1e8ed;
  border-top:0;
  background-color:#fff;
  line-height:1 !important;
}

.wpt-tp-counts ul{
  font-size:0;
  padding:0 !important;
  margin:0 !important;
  text-align:center;
  display:block;
  list-style:none !important;
  list-style-type:none !important;
}

.wpt-tp-counts ul:before, .wpt-tp-counts ul:after{
  display:none !important;
}

.wpt-tp-counts ul li{
  font-size:12px !important;
  display:inline-block !important;
  width:33.334% !important;
  margin:0 !important;
  padding:10px !important;
  box-sizing:border-box !important;
  -webkit-box-sizing:border-box !important;
  -moz-box-sizing:border-box !important;
  border:none !important;
  border-right:1px solid #e1e8ed !important;
  line-height:1 !important;
  list-style:none !important;
  list-style-type:none !important;
}

.wpt-tp-counts ul li:before, .wpt-tp-counts ul li:after, .wpt-tp-counts ul li span:before, .wpt-tp-counts ul li span:after{
  display:none !important;
}

.wpt-tp-counts ul li:last-child{
  border-right:0 !important;
}

.wpt-tp-count-name{
  margin-bottom:5px;
  color:#66757f !important;
  display:block;
  font-size:10px !important;
}

.wpt-tp-the-count{
  color:#292f33 !important;
  font-weight:bold;
  display:block;
  line-height:1 !important;
}

.wpt-tp-content-wrap{
  border-radius:0 0 5px 5px !important;
  -webkit-border-radius:0 0 5px 5px !important;
  -moz-border-radius:0 0 5px 5px !important;
  background-color:#fff;
  line-height:1.5 !important;
  font-size:14px !important;
  border:1px solid #e1e8ed;
  border-top:0;
}

.wpt-tp-content-wrap ul li{
  border:0 !important;
}

.wpt-tp-content-wrap a:before, .wpt-tp-content-wrap a:active{
  display:none !important;
}

.wpt-tp-content{
  padding:10px;
}

.wpt-tp-content a, .wpt-tp-content a:hover, .wpt-tp-content a:active{
  color:#3B94D9 !important;
  text-shadow:none !important;
  text-decoration:none !important;
  font-weight:normal !important;
  border:none !important;
}

.wpt-tp-content ul{
  padding: 0 !important;
  margin:0 !important;
  list-style:none !important;
  list-style-type:none !important;
}

.wpt-tp-content ul:before, .wpt-tp-content ul:after{
  display:none !important;
}

.wpt-tp-content ul li{
  padding:0 !important;
  font-size:14px !important;
  margin:0 0 5px 0 !important;
  font-weight:normal !important;
  color:#292f33 !important;
  line-height:1.5 !important;
  list-style:none !important;
  list-style-type:none !important;
}

.wpt-tp-content ul li:last-child{
  margin:0 !important;
}

.wpt-tp-content ul li:after, .wpt-tp-content ul li:before{
  display:none !important;
}

.wpt-tp-content p{
  margin:0 0 10px 0 !important;
  font-weight:normal !important;
  color:#292f33 !important;
  padding:0 !important;
}

.wpt-tp-content.wpt-tp-recent-tweets{
  border-top:1px solid #e1e8ed;
}

.wpt-tp-content.wpt-tp-recent-tweets ul{
  margin:0 !important;
}

.wpt-tp-content.wpt-tp-recent-tweets ul li{
  margin:0 0 10px 0 !important;
  list-style:none !important;
  list-style-type:none !important;
}

.wpt-tp-content.wpt-tp-recent-tweets ul li:last-child{
  margin:0 !important;
}

.wpt-tp-content.wpt-tp-recent-tweets ul li a.wpt-tp-tweet-link,
.wpt-tp-content.wpt-tp-recent-tweets ul li a.wpt-tp-tweet-link:hover,
.wpt-tp-content.wpt-tp-recent-tweets ul li a.wpt-tp-tweet-link:active{
  color:#292f33 !important;
}

.wpt-tp-content ul li.wpt-tp-tweets:before, a.wpt-tp-tweets:before{
  display:inline-block !important;
  font-family:"fontello twitter profile plugin by Alobaidi" !important;
  content:"\e804" !important;
  padding-right:5px;
  color:#3B94D9 !important;
  float: none !important;
  margin: 0 !important;
}

.wpt-tp-content ul li.wpt-tp-location:before{
  display:inline-block !important;
  font-family:"fontello twitter profile plugin by Alobaidi" !important;
  content:"\e802" !important;
  padding-right:5px;
  color:#66757f !important;
  float: none !important;
  margin: 0 !important;
}

.wpt-tp-content ul li.wpt-tp-url:before{
  display:inline-block !important;
  font-family:"fontello twitter profile plugin by Alobaidi" !important;
  content:"\e800" !important;
  padding-right:5px;
  color:#66757f !important;
  float: none !important;
  margin: 0 !important;
}

.wpt-tp-content ul li.wpt-tp-joined:before{
  display:inline-block !important;
  font-family:"fontello twitter profile plugin by Alobaidi" !important;
  content:"\e801" !important;
  padding-right:5px;
  color:#66757f !important;
  float: none !important;
  margin: 0 !important;
}

.wpt_tp_emoji .emoji, .wpt_tp_emoji .wp-smiley{
  display:none !important;
}

/* RTL Style */

.wpt-tp-rtl .wpt-tp-content ul li.wpt-tp-tweets:before, .wpt-tp-rtl a.wpt-tp-tweets:before,
.wpt-tp-rtl .wpt-tp-content ul li.wpt-tp-location:before,
.wpt-tp-rtl .wpt-tp-content ul li.wpt-tp-url:before,
.wpt-tp-rtl .wpt-tp-content ul li.wpt-tp-joined:before{
  padding-left:5px;
  padding-right:0;
}

.wpt-tp-rtl .wpt-tp-counts ul li{
  border-right:0 !important;
  border-left:1px solid  #e1e8ed !important;
}

.wpt-tp-rtl .wpt-tp-counts ul li:last-child{
  border-left:0 !important;
}

/* Responsive Style */

.wpt-tp-responsive-wrap .wpt-tp-counts ul li{
  display:block !important;
  width:100% !important;
  border-right:0 !important;
  border-left:0 !important;
  border-bottom:1px solid #e1e8ed !important;
  text-align:left;
}

.wpt-tp-responsive-wrap .wpt-tp-counts ul li:last-child{
  border-bottom:none !important;
}

.wpt-tp-rtl.wpt-tp-responsive-wrap .wpt-tp-counts ul li{
  text-align:right !important;
}

@media all and (max-width: 480px){
  
  .wpt-tp-counts ul li{
    display:block !important;
    width:100% !important;
    border-right:0 !important;
    border-left:0 !important;
    border-bottom:1px solid #e1e8ed !important;
    text-align:left !important;
  }

  .wpt-tp-counts ul li:last-child{
    border-bottom:none !important;
  }
  
  .wpt-tp-rtl .wpt-tp-counts ul li{
    text-align:right !important;
  }
  
}





